<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />

		<link rel="stylesheet" href="style.css" />

		<title>A student's space</title>
	</head>

	<body>
		<header></header>

		<!-- <nav>
        <div id="weather" class="nav">Weather</div> 
        <div id="date" class="nav">June 9, 2022</div>
        <div id="calendar" class="nav">Calendar</div>
        <div id="todo" class="nav">TODO</div> 

        <form method="GET" action="https://google.com/search">
            <label>
                <input type="text" name="q" placeholder="Search bar" size="125" />
            </label>
            <input id="submitSearchBtn" type="submit" value="Search">
        </form> -->

		<!-- <form>
            <div><label for="name">Name</label>
            <input type="text" id="name"></div>
            <div><label for="email">Email</label>
            <input type="email" id="email"></div>
          
            <div class="buttons"><input type="submit" value="Submit"></div>
        </form> -->
		<!-- </nav> -->

		<main>
			<!-- 
        <ul id="application_bar">
            <li>
                <a href="https://youtube.com" target="_blank">
                    <img class="appImg" alt="Youtube" src="" height="90px" width="90px">
                </a>
            </li>
        </ul> -->

			<!-- CHANGE TO TABLE -->
			<!-- <div id="todo_container">
          <p>TODO</p>
          <button id="todo_add">Add</button>
          <input type="text" id="todo_add_input">
          <button id="todo_delete">Delete</button>

          <label for="todo">TODO</label>
          <select name="todo" id="todo_list">
          </select>

        </div> -->
		</main>

		<script src="script.js" defer></script>
	</body>
</html>
